html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* This is where the styling begins */

body {
  box-sizing: border-box;
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

/* The Header */

.top-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 100vw;
  height: 4em;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  margin: 0.5em;
}

.sign-in {
  margin: 0 0.5em;
}

.sign-in-btn {
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #1a73e8;
  padding: 0.7em 1.8em;
  border-radius: 4px;
  border: 1px solid transparent;
}

/* The Middle Content */
.center {
  margin-bottom: 15em;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.center input {
  width: 40%;
  height: 2em;
  border-radius: 15px;
  border: 1px solid rgb(202, 202, 202);
  margin-bottom: 1.5em;
}

.search-btns button {
  margin: 0 1em;
  padding: 0.5em 1em;
  color: rgb(0, 0, 0, 0.69);
  font-weight: 400;
  border: none;
  background-color: rgb(240, 240, 240);
}

.search-btns button:hover {
  border: 1px solid transparent;
  background-color: rgb(223, 222, 222);
}

/* The footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  border-top: 1px solid rgb(216, 216, 216);
  background-color: rgb(243, 243, 243);
}

.btn {
  padding: 15px;
}

.btn a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  color: rgba(105, 105, 105, 0.89);
}
